# Todo list Task

In [6]:
todo_list =[]

In [7]:
def add_task(task):
  todo_list.append(task)

In [8]:
def remove_task(task):
  if task in todo_list:
    todo_list.remove(task)
  else:
    print("Task didn't find in list")

In [9]:
def view_tasks():
  for task in todo_list:
    print(task)

In [10]:
add_task("Learn Python")
add_task("Learn ML")
add_task("Learn AI")
view_tasks()

Learn Python
Learn ML
Learn AI

In [11]:
remove_task("Learn AI")

In [12]:
view_tasks()

Learn Python
Learn ML

# Find Max and Min Value in a list

In [13]:
def find_min_max(nums):
  if len(nums)<1:
    return -1,-1
  min_value = nums[0]
  max_value = nums[0]
  for i in range(1,len(nums)):
    if min_value>nums[i]:
      min_value= nums[i]
    if max_value<nums[i]:
      max_value=nums[i]

  return min_value, max_value

In [14]:
list = [5, 9, 20, 30, 99, 2]

In [15]:
min_value, max_value = find_min_max(list)
print(f"Min: {min_value}, Max: {max_value}")

Min: 2, Max: 99

# Contact Book

In [16]:
phonebook = {}

In [20]:
def add_number(name, number):
  if name not in phonebook:
    phonebook[name]=number
  else:
    print("Name already exits in phonebook")
    print("Do you want to overwrite that number?")
    response = input("Enter y to overwrite!")
    response = response.lower()
    if response == "y":
      phonebook[name]=number

In [21]:
def get_number(name):
  return phonebook.get(name, "Name not found")

In [23]:
add_number("Fahad", "03001234567")
add_number("Ahmad", "03002234567")
get_number("Fahad")

'03001234567'

# Inventory System

In [24]:
inventory = {}

In [25]:
def add_item(item, quantity):
  if item in inventory:
    inventory[item]+=quantity
  else:
    inventory[item]=quantity

In [26]:
def remove_item(item, quantity):
  if item in inventory and inventory[item]>=quantity:
    inventory[item]-=quantity
    if inventory[item]==0:
      del inventory[item]
  else:
    print("Items in inventory aren't sufficent")

In [27]:
def view_inventory():
  print("Inventory details:")
  for item, quantity in inventory.items():
    print(f"{item}: {quantity}")

In [29]:
add_item("Apple", 10)
add_item("Banana", 5)
remove_item("Apple", 3)
view_inventory()

Inventory details:
Apple: 7
Banana: 5

# ATM System Simulation

In [30]:
def deposit(balance, amount):
  balance = balance+amount
  print(f"Amount deposited: {amount} and balance is: {balance}")
  return balance

In [31]:
def withdraw(balance, amount):
  if amount > balance:
    print("Insufficent amount")
    print(f"Current balance is: {balance}")
  else:
    balance -= amount
    print(f"Updated balance: {balance}, Withdraw amount: {amount}")
  return balance

In [32]:
def check_balance(balance):
  print(f"Current balance is: {balance}")

In [33]:
balance = 1000 # Initial balance
balance = deposit(balance, 500) # Deposit money
balance = withdraw(balance, 200) # Withdraw money
check_balance(balance)

Amount deposited: 500 and balance is: 1500
Updated balance: 1300, Withdraw amount: 200
Current balance is: 1300